################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/CBriscola.maui/bin/Debug/net9.0-windows10.0.26100.0/win10-x64
/CBriscola.maui/obj
